/*------------------------------- TAMBAHAN -------------------------------------*/

/*Welcome.blade.php*/

.welcome-h{
    overflow-x: hidden;
}

#video-player{
    position:relative;
    z-index:0;
    right: 0;
    bottom: 0;
}

h1.slogan_title{
    font-size: 50px;
}

.text-black{
    color: black !important;
}

#overlay{
    position:absolute;
    z-index:10;
    left: 0;
    margin-top: 420px;
    margin-left: 40px;
}

#overlay h1, p{
    text-align: left;
    color: white;
}

#overlay h1{
    font-size: 50px;
    margin-top: -10px;
}

#overlay p{
    margin: 0px;
}

.btn-white {
    border-radius: 50px;
    width: 100px;
    float: left;
}

/*Login Page*/

.form-mv {
    margin: 20px;
}

.logo_sidebar{
    width: 150;
}

/*Photos Page*/

.detail-photos{
    font-size:12px;
    text-align:justify;
}

.form-ph {
    margin: 0px 10px;
}

.photo_detail{
    width: 100px;
}

.photo_desc_detail{
    text-align: justify;
    color: gray;
}

.view_stock_desc{
    min-height:300px;
}

.inline_block{
    display: inline-block;
}

.photo_warning{
    margin: 0px;
    font-size: 10px;
}